In [1]:
import pandas as pd

In [4]:
strava = pd.read_excel("data/strava_running_data.xlsx")
strava.head()

,Sr. no.,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,start_latlng,end_latlng,sport_type,start_date,timezone,achievement_count,kudos_count,comment_count,athlete_count,photo_count,average_speed,max_speed
0,1,2023-12-09T09:09:19Z,Run,10879.7,4023,4617,91.4,"[40.70327935740352, -73.99619171395898]","[40.69340907968581, -73.97922154515982]",Run,2023-12-09T14:09:19Z,(GMT-05:00) America/New_York,4,4,0,3,0,2.704,6.228
1,2,2023-12-07T17:31:50Z,Run,1304.4,722,62993,0.0,"[40.7220459356904, -74.03641730546951]","[40.719722136855125, -74.03257705271244]",Run,2023-12-07T22:31:50Z,(GMT-05:00) America/New_York,0,0,0,1,0,1.807,4.044
2,3,2023-12-03T09:18:13Z,Run,17503.0,7370,7462,68.4,"[40.74991073459387, -73.98751585744321]","[40.73538766242564, -73.9793517999351]",Run,2023-12-03T14:18:13Z,(GMT-05:00) America/New_York,2,5,0,4,0,2.375,6.778
3,4,2023-12-02T09:41:14Z,Run,3457.8,1791,2170,3.9,"[40.72203076444566, -74.03641068376601]","[40.71398631669581, -74.03902692720294]",Run,2023-12-02T14:41:14Z,(GMT-05:00) America/New_York,0,2,0,3,0,1.931,4.522
4,5,2023-12-01T17:06:05Z,Run,10108.2,4128,4221,6.3,"[40.72190687991679, -74.03624514117837]","[40.71669920347631, -74.03264125809073]",Run,2023-12-01T22:06:05Z,(GMT-05:00) America/New_York,4,5,0,1,0,2.449,5.462

In [6]:
strava["distance_km"] = strava["distance"] / 1000
strava["duration_min"] = strava["moving_time"] / 60
strava["pace_min_per_km"] = strava["duration_min"] / strava["distance_km"]

In [9]:
strava["start_dt"] = pd.to_datetime(strava["start_date_local"])
strava["hour"] = strava["start_dt"].dt.hour
strava["weekday"] = strava["start_dt"].dt.weekday
strava.head()

,Sr. no.,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,start_latlng,end_latlng,sport_type,...,athlete_count,photo_count,average_speed,max_speed,distance_km,duration_min,pace_min_per_km,start_dt,hour,weekday
0,1,2023-12-09T09:09:19Z,Run,10879.7,4023,4617,91.4,"[40.70327935740352, -73.99619171395898]","[40.69340907968581, -73.97922154515982]",Run,...,3,0,2.704,6.228,10.8797,67.050000,6.162854,2023-12-09 09:09:19+00:00,9,5
1,2,2023-12-07T17:31:50Z,Run,1304.4,722,62993,0.0,"[40.7220459356904, -74.03641730546951]","[40.719722136855125, -74.03257705271244]",Run,...,1,0,1.807,4.044,1.3044,12.033333,9.225187,2023-12-07 17:31:50+00:00,17,3
2,3,2023-12-03T09:18:13Z,Run,17503.0,7370,7462,68.4,"[40.74991073459387, -73.98751585744321]","[40.73538766242564, -73.9793517999351]",Run,...,4,0,2.375,6.778,17.5030,122.833333,7.017845,2023-12-03 09:18:13+00:00,9,6
3,4,2023-12-02T09:41:14Z,Run,3457.8,1791,2170,3.9,"[40.72203076444566, -74.03641068376601]","[40.71398631669581, -74.03902692720294]",Run,...,3,0,1.931,4.522,3.4578,29.850000,8.632657,2023-12-02 09:41:14+00:00,9,5
4,5,2023-12-01T17:06:05Z,Run,10108.2,4128,4221,6.3,"[40.72190687991679, -74.03624514117837]","[40.71669920347631, -74.03264125809073]",Run,...,1,0,2.449,5.462,10.1082,68.800000,6.806355,2023-12-01 17:06:05+00:00,17,4

In [11]:
strava.to_csv("data/strava_run_data.csv", index=False)

In [12]:
import numpy as np

In [13]:
strava = pd.read_csv("data/strava_run_data.csv")
strava.head()

,Sr. no.,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,start_latlng,end_latlng,sport_type,...,athlete_count,photo_count,average_speed,max_speed,distance_km,duration_min,pace_min_per_km,start_dt,hour,weekday
0,1,2023-12-09T09:09:19Z,Run,10879.7,4023,4617,91.4,"[40.70327935740352, -73.99619171395898]","[40.69340907968581, -73.97922154515982]",Run,...,3,0,2.704,6.228,10.8797,67.050000,6.162854,2023-12-09 09:09:19+00:00,9,5
1,2,2023-12-07T17:31:50Z,Run,1304.4,722,62993,0.0,"[40.7220459356904, -74.03641730546951]","[40.719722136855125, -74.03257705271244]",Run,...,1,0,1.807,4.044,1.3044,12.033333,9.225187,2023-12-07 17:31:50+00:00,17,3
2,3,2023-12-03T09:18:13Z,Run,17503.0,7370,7462,68.4,"[40.74991073459387, -73.98751585744321]","[40.73538766242564, -73.9793517999351]",Run,...,4,0,2.375,6.778,17.5030,122.833333,7.017845,2023-12-03 09:18:13+00:00,9,6
3,4,2023-12-02T09:41:14Z,Run,3457.8,1791,2170,3.9,"[40.72203076444566, -74.03641068376601]","[40.71398631669581, -74.03902692720294]",Run,...,3,0,1.931,4.522,3.4578,29.850000,8.632657,2023-12-02 09:41:14+00:00,9,5
4,5,2023-12-01T17:06:05Z,Run,10108.2,4128,4221,6.3,"[40.72190687991679, -74.03624514117837]","[40.71669920347631, -74.03264125809073]",Run,...,1,0,2.449,5.462,10.1082,68.800000,6.806355,2023-12-01 17:06:05+00:00,17,4

In [19]:
strava = strava.replace([np.inf, -np.inf], np.nan)
strava = strava[strava["pace_min_per_km"].notnull()]
strava.shape

(98, 25)

In [21]:
q_fast = strava["pace_min_per_km"].quantile(0.33)
q_med  = strava["pace_min_per_km"].quantile(0.66)
print("Pace quantiles:")
print("  fast/medium boundary :", q_fast)
print("  medium/slow boundary :", q_med)

Pace quantiles:
  fast/medium boundary : 6.6130978694735765
  medium/slow boundary : 7.374644850045314

In [25]:
def pace_group_assignment(pace):
    if pace <= q_fast:
        return "fast"
    elif pace <= q_med:
        return "medium"
    else:
        return "slow"

strava["pace_group"] = strava["pace_min_per_km"].apply(pace_group_assignment)
strava.head()

,Sr. no.,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,start_latlng,end_latlng,sport_type,...,photo_count,average_speed,max_speed,distance_km,duration_min,pace_min_per_km,start_dt,hour,weekday,pace_group
0,1,2023-12-09T09:09:19Z,Run,10879.7,4023,4617,91.4,"[40.70327935740352, -73.99619171395898]","[40.69340907968581, -73.97922154515982]",Run,...,0,2.704,6.228,10.8797,67.050000,6.162854,2023-12-09 09:09:19+00:00,9,5,fast
1,2,2023-12-07T17:31:50Z,Run,1304.4,722,62993,0.0,"[40.7220459356904, -74.03641730546951]","[40.719722136855125, -74.03257705271244]",Run,...,0,1.807,4.044,1.3044,12.033333,9.225187,2023-12-07 17:31:50+00:00,17,3,slow
2,3,2023-12-03T09:18:13Z,Run,17503.0,7370,7462,68.4,"[40.74991073459387, -73.98751585744321]","[40.73538766242564, -73.9793517999351]",Run,...,0,2.375,6.778,17.5030,122.833333,7.017845,2023-12-03 09:18:13+00:00,9,6,medium
3,4,2023-12-02T09:41:14Z,Run,3457.8,1791,2170,3.9,"[40.72203076444566, -74.03641068376601]","[40.71398631669581, -74.03902692720294]",Run,...,0,1.931,4.522,3.4578,29.850000,8.632657,2023-12-02 09:41:14+00:00,9,5,slow
4,5,2023-12-01T17:06:05Z,Run,10108.2,4128,4221,6.3,"[40.72190687991679, -74.03624514117837]","[40.71669920347631, -74.03264125809073]",Run,...,0,2.449,5.462,10.1082,68.800000,6.806355,2023-12-01 17:06:05+00:00,17,4,medium

In [31]:
playlist_groups = {"fast": "5ymkuBk3C1Iu4KTdJBK9vy", "medium": "7pWNfjCrJmS4ILho1S4CvK", "slow": "5Egmw4o1GAN8QkhXGaxao6"}
strava["playlist_id"] = strava["pace_group"].map(playlist_groups)

In [32]:
activity_mapping = strava[["Sr. no.", "pace_group", "playlist_id"]].copy()
activity_mapping.head()

   Sr. no. pace_group             playlist_id
0        1       fast  5ymkuBk3C1Iu4KTdJBK9vy
1        2       slow  5Egmw4o1GAN8QkhXGaxao6
2        3     medium  7pWNfjCrJmS4ILho1S4CvK
3        4       slow  5Egmw4o1GAN8QkhXGaxao6
4        5     medium  7pWNfjCrJmS4ILho1S4CvK

In [33]:
activity_mapping[["Sr. no.", "playlist_id"]].to_csv("data/activity_playlist_correlation.csv", index=False)

In [35]:
strava = pd.read_csv("data/strava_run_data.csv")
activity = pd.read_csv("data/activity_playlist_correlation.csv")
playlists = pd.read_csv("data/playlist_metadata.csv")

In [36]:
mergedData = strava.merge(activity, on="Sr. no.", how="inner")
mergedData = mergedData.merge(playlists, on="playlist_id", how="left")

In [37]:
playlist_speed_group = {
    "5ymkuBk3C1Iu4KTdJBK9vy": "fast",
    "5Egmw4o1GAN8QkhXGaxao6": "medium",
    "7pWNfjCrJmS4ILho1S4CvK": "slow",
}
mergedData["music_condition"] = mergedData["playlist_id"].map(playlist_speed_group)

mergedData.to_csv("data/music_running_dataset.csv", index=False)